@import 'tailwindcss';

/* Base styles */
ui-details *[slot='summary'] {
	@apply w-full;
	@apply border-y;
	@apply pointer-events-none;
	@apply cursor-pointer;
	@apply flex;
	@apply marker:absolute;
}

ui-details:not(:defined) *[slot='content'] {
	display: none;
}

ui-details:not(:defined)[open] *[slot='content'] {
	display: block;
}
