@import 'tailwindcss';

ui-details {
	@apply block;
	@apply border-b;
}

* ui-details:last-child {
	@apply border-0;
}

/* Base styles */
ui-details *[slot='summary'] {
	@apply w-full;
	@apply pointer-events-none;
	@apply cursor-pointer;
	@apply flex;
	@apply p-4;
	@apply font-semibold;
}

ui-details *[slot='content'] {
	@apply p-4;
	@apply border-t;
}

ui-details:not(:defined) *[slot='content'] {
	display: none;
}

ui-details:not(:defined)[open] *[slot='content'] {
	display: block;
}
