@import 'tailwindcss';

@theme {
	--font-sans:
		'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

html,
body {
	text-rendering: optimizeLegibility;

	@apply bg-zinc-50 dark:bg-zinc-800;

	@media (prefers-color-scheme: dark) {
		color-scheme: dark;
	}
}
