@reference 'tailwindcss';

ui-alert {
	grid-template-areas: 'icon heading' 'icon message';
	@apply grid grid-cols-[auto_1fr] p-4 border rounded-lg;
}

ui-alert[data-variant='success'] {
	@apply bg-emerald-50 border-emerald-200 text-emerald-700;
	/* TODO: Re-enable dark mode @apply dark:bg-emerald-900 dark:border-emerald-700 dark:text-emerald-300; */
}

ui-alert[data-variant='error'] {
	@apply bg-red-50 border-red-200 text-red-700;
	/* TODO: Re-enable dark mode @apply dark:bg-red-900 dark:border-red-700 dark:text-red-300; */
}

ui-alert[data-variant='warning'] {
	@apply bg-orange-50 border-orange-200 text-orange-700;
	/* TODO: Re-enable dark mode @apply dark:bg-orange-900 dark:border-orange-700 dark:text-orange-300; */
}

ui-alert[data-variant='info'] {
	@apply bg-sky-50 border-sky-200 text-sky-700;
	/* TODO: Re-enable dark mode @apply dark:bg-sky-900 dark:border-sky-700 dark:text-sky-300; */
}

ui-alert *[slot='icon'] {
	grid-area: icon;
	@apply shrink-0 size-6 mr-2;
}

ui-alert *[slot='heading'] {
	grid-area: heading;
	@apply font-semibold mb-0;
}

ui-alert *[slot='message'] {
	grid-area: message;
	@apply text-sm;
}
