ui-spinner {
	display: block;
	width: 64px;
	height: 64px;
}

ui-spinner:not(:defined) {
	display: none;
}

ui-spinner .segment use,
ui-spinner .segment path {
	fill: #ccc;
	transform-origin: 100px 100px;
}
